* {
    box-sizing: border-box;
}
body {
    font: 14px 'Press Start 2P', cursive;
}
#wrapper {
    padding: 20px 10px;
    background: #000;
    min-height: 100vh;
}

h1 {
    color: #f00;
    text-align: center;
}

#root canvas {
    display: block;
    margin: 0 auto;
}